<h1 class="text-color-purple">Hiiii User</h1>
<h1 class="text-color-purple">Welcome to the Stole Factory!!!</h1>
<div (ngSubmit)="addtocart()">
<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
      
      <div class="card-body">
        <img src="../../assets/img4.jpeg" alt="">
        <ul>
          <li>Speciality:- Printed Chiffon</li>
          <li>Price:- 150Rs</li>
        </ul>
        <button type="submit" class="btn btn-sm btn-block btn-primary">Add to cart</button>
      </div>
    </div>&nbsp;&nbsp;
    <div class="card mb-4 shadow-sm">
      
      <div class="card-body">
        <img src="../../assets/img2.jpeg" alt="">
        <ul>
          <li>Speciality:-Indigo cotton</li>
          <li>Price:- 200Rs</li>
        </ul>
        <button type="submit" class="btn btn-sm btn-block btn-primary">Add to cart</button>
      </div>
    </div>
    
  </div>
  <br>
  <div class="container">
    <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
      
      <div class="card-body">
        <img src="../../assets/img1.jpeg" alt="">
        <ul>
          <li>Speciality:-Traditional scarf</li>
          <li>Price:- 300Rs</li>
        </ul>
        <button type="submit" class="btn btn-sm btn-block btn-primary">Add to cart</button>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
    <div class="card-body">
      <img src="../../assets/img7.jpeg" alt="">
      <ul>
        <li>Speciality:-New Trend</li>
        <li>Price:- 550Rs</li>
      </ul>
      <button type="submit" class="btn btn-sm btn-block btn-primary">Add to cart</button>
    </div>
  </div>
</div>
  </div>
  
</div>





