

  <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a href="" class="navbar-brand">Stole Factory</a>
        <div href="" class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">
        <li><a routerLink="/home" class="nav-link">homepage</a></li>
        <li><a routerLink="/adminlogin" class="nav-link"> adminlogin</a></li>
        <li><a routerLink="/login" class="nav-link">userlogin</a></li>
        <li><a routerLink="/registration" class="nav-link">registration</a></li> 
    </ul>
    </div>
    </div>
</nav>
<br><br>

<router-outlet></router-outlet>

<footer class="footer bg-dark  position-bottom">
    <div class="text-white text-left-6 align-left">Address
    <div>
        <ul>
        <li><h6 class="text-white text-left-6 align-left">Pashan Road,near kalimata mandir,</h6>
        <h6 class="text-white text-left-3 align-left">subhash chowk,Pune-413569,Maharashtra</h6>
        </li>
        </ul>
    </div>
    </div>

    <div class="text-white text-center-6 align-center">Contact Us 
    <div>
        <ul>
        <li><h6 class="text-white text-left-6 align-center">On Email::vai@gmail.com</h6></li>
        <li><h6 class="text-white text-left-6 align-center">On Mobile::8886589321</h6></li>
    </ul>
    </div>
   </div>

    <div class="text-white text-left-6 align-right">Follow Us On
    <div>
        <ul>
        <li><h6 class="text-white text-left-6 align-right">FaceBook</h6></li>
        <li><h6 class="text-white text-left-6 align-right">Instagram</h6></li>
        </ul>
    </div>
    </div>
</footer>