<h2 class="text-center">Registration</h2>
<div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-mid-6-offset-3">
        <div class="jumbotron">
            <form [formGroup] = "angForm" (ngSubmit)="postdata(angForm)" autocomplete="off" >
                <div class="form-group">
                    <label form="name">Name</label>
                    <input type="text" name="name" formControlName="name" autocomplete="off" class="form-control 
                    input-sm" placeholder="enter your name" />
                </div>
                <div class="form-group">
                     <label form="emaiL">Email Address</label>
                    <input type="email" name="email" formControlName="email" autocomplete="off" class="form-control 
                    input-sm" placeholder="enter your emailid" />
                </div>
                <div class="form-group">
                    <label form="Password">Passwword</label>
                   <input type="password" name="password" formControlName="password" autocomplete="off" class="form-control 
                   input-sm" placeholder="enter your password" />
               </div>
               <button type="submit" class="btn btn-success">Register</button>
               <button type="reset" class="btn btn-danger">Reset</button>
            </form>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>